// Breakpoints variables
$breakpoint-desktop-2k: 2560px;
$breakpoint-desktop-hd: 1920px;
$breakpoint-desktop: 1440px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-mobile-sm: 375px;
