// theme colors
$gray-deep: #606060;
$gray-mat: #676767;
$gray-pale: #848586;
$gray-pastel: #C5C5C5;
$gray-warm: #F1F1F1;
$gray-silver: #D4D4D4;
$gray-silver-light: #D7D7D7;
$gray-slate-gray: #B9B9B9;
$gray-dim: #818181;
$gray-dim-warm: #999999;
$gray-dim-pastel: #535353;
$gray-shadow: rgba(199, 199, 199, 0.6);

$white: #FFFFFF;
$white-pastel: #F9F9F9;
$white-lavender: #94A3B8;
$white-neutral-8: #FCFCFD;
$white-neutral-6: #E6E8EC;

$black: #141416;
$black-deep: #000000;
$black-pastel: #1C1D20;
$black-pastel-op-35: rgba(28, 29, 32, 0.35);
$black-pastel-op-8: rgba(28, 29, 32, 0.08);
$black-pastel-op-12: rgba(15, 15, 15, 0.12);
$black-light: #222222;
$black-slate: #201F1F;

$transparent: transparent;
