@use '../../colors' as *;
@use '../../breakpoints' as *;

@mixin btn($bg-color: $white, $text-color: #000) {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 12px;
  background-color: $bg-color;
  color: $text-color;
  font-family: inherit;
  text-transform: uppercase;
  white-space: nowrap;

  @media screen and (max-width: $breakpoint-tablet) {
    border-radius: 9px;
  }
}

$btn-appearance: "black", "outline-black", "fill-white", "outline-white"; //fill black
$btn-sizes: "sm", "md", "lg";

@each $appearance in $btn-appearance {
  .btn-#{$appearance} {
    @if $appearance == "black" {
      @include btn($black-deep, $white);
      
      &:hover {
        background-color: $black-light;
      }
    } @else if $appearance == "outline-black" {
      @include btn(transparent, $black-deep);
      border: 2px solid $black-deep;

      &:hover {
          background-color: $gray-silver-light;
      }

      @media screen and (max-width: $breakpoint-tablet) {
        border-width: 1px;
      }
    } @else if $appearance == "fill-white" {
      @include btn($white, $black);

      &:hover {
          background-color: $gray-silver-light;
      }
    } @else if $appearance =="outline-white" {
      @include btn($transparent, $white);
      border: 2px solid $white;

      &:hover {
        background-color: $gray-silver-light;
      }
    }

    @each $size in $btn-sizes {
      &--#{$size} {
        @if $size == "sm" {
          padding: 16px 25px;
          @media screen and (max-width: $breakpoint-tablet) {

          }
        } @else if $size == "md" {
          padding: 18px 22px;

          @media screen and (max-width: $breakpoint-tablet) {
            padding: 14px;
          }
        } @else if $size == "lg" {
          padding: 18px 31px;

          @media screen and (max-width: $breakpoint-tablet) {
            padding: 13px 22px;
          }
        }
      }
    }
  }
}