@use '../../breakpoints' as *;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 90%;

  
  @media screen and (max-width: $breakpoint-desktop) {
    max-width: 1246px;
    padding: 0;
  }
  @media screen and (max-width: 1300px) {
    max-width: 97%;
    padding: 0 25px;
  }
  @media screen and (max-width: 1100px) {
    max-width: 98%;
    padding: 0 20px;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    max-width: 890px;
    padding: 0;
  }
  @media screen and (max-width: 920px) {
    max-width: 95%;
    padding: 0 20px;
  }
  @media screen and (max-width: $breakpoint-mobile) {
    max-width: 95%;
    padding: 0 20px;
  }
  @media screen and (max-width: $breakpoint-mobile-sm) {
    max-width: 315px;
    padding: 0;
  }
}