@use '../../colors' as *;
@use '../../breakpoints' as *;

.footer {
  background-color: $black;

  &__separator-line {
    width: 100%;
    height: 1px;
    background: $gray-dim;
    opacity: 0.25;
  }
  &__container {
    padding-top: 88px;
    padding-bottom: 86px;
  }
  &__links {
    display: flex;
    gap: 70px;
    color: $gray-slate-gray;
  }
  &__links-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__second-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
  }
  &__rights-title {
    color: $gray-dim-warm;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
  }
  &__rights-title-additional {
    display: none;
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__socials-link {
    display: flex;
    color: $gray-dim-pastel;
    
    &:last-of-type {
      color: $white;
    }
  }
  &__socials-svg {
    display: flex;
    height: 100%;
    width: 100%;
  }
  &__socials-mobile {
    display: none;
  }
  &__wrapper {
    display: flex;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    &__container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    &__logo-svg {
      max-width: 46px;
      max-height: 46px;
    }
    &__logo-title {
      font-weight: 600;
      font-size: 21px;
      line-height: 130%;
    }
    &__nav {
      padding-bottom: 20px;
    }
    &__links {
      gap: 50px;
    }
    &__links-link {
      font-size: 13px;
      line-height: 19px;
    }
    &__second-nav {
      padding-top: 40px;
    }
    &__rights-title {
      font-size: 12px;
      line-height: 18px;
    }
    &__socials {
      gap: 28px;
    }
    &__socials-link {
      max-width: 17px;
      max-height: 17px;
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    &__container {
      padding-top: 52px;
      padding-bottom: 40px;
    }
    &__logo-title {
      margin-left: 7px;
      font-size: 22px;
    }
    &__nav {
      padding-bottom: 47px;
      flex-direction: column;
      align-items: flex-start;
    }
    &__links {
      gap: 30px;
      display: flex;
      flex-direction: column;
    }
    &__links-link {
      font-size: 14px;
      line-height: 19px;
      text-transform: uppercase;
    }

    &__second-nav {
      padding-top: 26px;
      justify-content: center;
    }
    &__rights-title {
      display: none;
    }
    &__rights-title-additional {
      display: flex;
      font-size: 14px;
      line-height: 16px;
      color: $gray-dim-warm;
      font-weight: 500;
    }
    &__socials {
      display: none;
    }
    &__separator-line {
      opacity: 100;
    }
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 32px;
    }
    &__socials-mobile {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &__socials-link-mobile {
      display: flex;
      max-width: 17px;
      max-height: 17px;
      color: $gray-dim-pastel;

      &:last-of-type {
        color: $white;
      }
    }
    &__socials-svg-mobile {
      display: flex;
      height: 100%;
      width: 100%;
    }
  }
}