@use '../../colors' as *;

.footer {
  background-color: $black;

  &__separator-line {
    width: 100%;
    height: 1px;
    background: $gray-dim;
    opacity: 0.25;
  }
  &__container {
    padding-top: 88px;
    padding-bottom: 86px;
  }
  &__links {
    display: flex;
    gap: 70px;
    color: $gray-slate-gray;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }
  &__logo {

  }
  &__second-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;
  }
  &__rights-title {
    color: $gray-dim-warm;
  }
  &__socials {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__socials-link {
    display: flex;
  }
}