@use '../../colors' as *;
@use '../../breakpoints' as *;

.header {
  position: sticky;
  margin-top: 45px;
  top: 0;
  z-index: 100;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 101;
    background: transparent;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 66px;
    display: flex;
    align-items: center;
  }
  &__logo-title {
    display: none;
    margin-left: 7px;
    font-size: 22px;
    line-height: 24px;
  }
  &__logo-svg {
    min-width: 100%;
    min-height: 100%;
  }
  &__links {
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    color: $gray-deep;

    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
  }
  &__links-item {

  }
  &__links-link {

  }
  &__button {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    border-radius: 16px;
  }
  &--scrolled {
    border: none;
    .header__wrapper {
      background: $white;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      padding: 17px 97px;
    }
  }
  &__burger-btn {
    display: none;
    outline: none;
    border: none;
    background: none;

    cursor: pointer;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 3px;
  }
  &__burger-span {
    width: 100%;
    height: 2px;
    background: $black-slate;
    border-radius: 2px;
  }
  &__modal-overlay {
    display: none;
  }
  &__modal-content {
    display: none;
  }
  &__modal-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    padding-bottom: 40px;
    height: 100%;
  }
  &__modal-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 120px;
    margin-bottom: 44px;
  }
  &__modal-links-item {
    margin: 0;
  }
  &__modal-links-link {
    text-transform: uppercase;
    color: $gray-deep;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 40px;
    line-height: 42px;
  }
  &__modal-socials {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__modal-socials-item {
    margin: 0;
  }
  &__modal-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  &__modal-socials-svg {
    width: 100%;
    height: 100%;
    color: $gray-deep;
  }
  &__modal-button {
    width: 100%;
    justify-content: center;
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    border-radius: 13px;
    padding: 19px 20px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    margin-top: 32px;

    &__logo {
      margin-right: 40px;
      width: 38px;
      height: 38px;
    }
    &__links {
      gap: 32px;
      font-size: 14px;
      line-height: 16px;
    }
    &__button {
      border-radius: 12px;
      padding: 11px 18px;
      font-size: 11px;
      line-height: 17px;
    }
    
  }
  @media screen and (max-width: $breakpoint-mobile) {
    margin-top: 30px;
    
    &__wrapper {
      border-bottom: 1px solid $gray-pale-light;
      padding-bottom: 30px;
    }
    &__links, &__button {
      display: none;
    }
    &__logo-title {
      display: flex;
    }
    &__logo {
      margin-right: 7px;
      width: 46px;
      height: 46px;
    }
    &__burger-btn {
      display: flex;
    }
    &--scrolled {
      .header__wrapper {
        padding: 17px 20px;
        border-bottom: unset;
      }
      .header {
        border: none;
      }
    }
    &__modal-overlay {
      position: fixed;
      z-index: 100;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      display: unset;
    }
    &__modal-content {
      width: 100%;
      height: 100%;
      background: $white-pastel;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
    }
  }
}