@use '../../colors' as *;

.logo {
  display: flex;
  align-items: center;
  &__svg {
    display: flex;
    &--black {
        color: $black;
    }
    &--white {
        color: $white;
    }
  }
  &__title {
    font-family: var(--font-poppins);
    font-size: 30px;
    font-weight: 600;
    line-height: 130%;
    margin-left: 10px;
    &--black {
      color: $black;
    }
  
    &--white {
      color: $white;
    }
  }
}