@use '../../colors' as *;

.section-intro {
  display: flex;
  justify-content: space-between;

  &__content {
    margin-right: 50px;
    min-width: 567px;
  }
  &__heading {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 76px;
    line-height: 84px;
    margin-bottom: 29px;
    letter-spacing: -3px;

    &::before {
      content: "";
      display: flex;
      height: 1px;
      width: 34%;
      background-color: $black-slate;
      opacity: 0.2;
      margin-bottom: 10px;
    }
  }
  &__description {
    margin-bottom: 43px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $gray-mat;
    max-width: 490px;
  }
  &__buttons {
    margin-bottom: 82px;
    display: flex;
    gap: 22px;
  }
  &__button {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    &:first-child {
      padding: 21px 32px;
    }
  }
  &__span {
    color: $black;
    font-weight: 600;
  }

  &__abstractions {
    
  }
}

.metrics {
  display: flex;
  gap: 60px;

  &__amount {
    font-family: var(--public_sans);
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    display: flex;
    flex-direction: column;
  }
  &__label {
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: $gray-pale;
    margin-top: 10px;
  }
}

.abstractions {
  display: flex;
  white-space: nowrap;
  gap: 40px;

  &__first {
    position: relative;
    margin-top: 7px;

    &-image {
      border-radius: 25px;
    }
  }
  &__second {
    position: relative;
    display: flex;
    margin-bottom: 5px;

    &-image {
      border-radius: 22px;
    }
  }
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__spring-arrow {
    position: absolute;
    left: -23px;
    top: 48px;
  }
  &__shadow {
    top: 18px;
    left: 0;
    position: absolute;
    z-index: -100;
    filter: blur(30px);
    opacity: 70%;
  }
  &__dots {
    width: 173px;
    height: 400px;
    top: -12px;
    right: -29px;
    z-index: -100;
    position: absolute;
    background-image: url("/icons/DotOrnament.svg");
    background-repeat: space;
  }
}
