@use '../../colors' as *;
@use '../../breakpoints' as *;

.top-nft {
  background: $gray-warm;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 46px;
    line-height: 48px;
    color: $gray-pastel;
    text-align: center;
  }
  &__swiper {
    padding: 70px 0 !important;
  }
  &__loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    min-height: 535px;
  }
  &__spinner {
    width: 50px;
    height: 50px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: $black-deep;
    border-radius: 50%;
  }
  &__empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    min-height: 535px;
    text-align: center;
    color: $gray-pastel;
    font-family: var(--font-poppins);
    font-size: 18px;
  }
  .swiper {
    overflow: visible !important;
  }
  .swiper-wrapper {
    overflow: visible !important;
    display: flex;
    align-items: stretch;
  }
  .swiper-slide {
    height: auto;
    display: flex;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    padding: 50px 0;

    &__heading {
      font-size: 32px;
      line-height: 36px;
    }
    &__swiper {
      padding: 50px 0 !important;
    }
    &__loader {
      padding: 50px 0;
      min-height: 394px;
    }
    &__spinner {
      width: 40px;
      height: 40px;
      border-width: 3px;
    }
    &__empty {
      padding: 50px 0;
      min-height: 394px;
      font-size: 16px;
    }
  }
  @media screen and (max-width: $breakpoint-mobile) {
    &__heading {
      font-size: 30px;
      line-height: 30px;
    }
    &__loader {
      min-height: 394px;
    }
    &__empty {
      min-height: 394px;
    }
  }
}

.swiper-nft {
  display: flex;
  width: 100%;

  &__navigation {
    display: flex;
    gap: 30px;
    background-color: $white-neutral-8;
    border-radius: 17px;
    padding: 20px 28px;
    filter: drop-shadow(0 43px 15px $black-pastel-op-12);
  }
  &__navigation-arrow {
    width: 24px;
    height: 24px;
    &-second {
      transform: rotateY(180deg);
    }
  }
  &__navigation-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__separator {
    min-height: 100%;
    width: 2px;
    background-color: $white-neutral-6;
  }
  &__slide {
    max-width: 281px;
    min-width: 281px;
    height: auto;
    display: flex;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    &__slide {
      max-width: 210px;
      min-width: 210px;
      height: auto;
      display: flex;
    }
    &__navigation {
      gap: 22px;
      border-radius: 13px;
      padding: 15px 21px;
    }
    &__navigation-arrow {
      width: 18px;
      height: 18px;
    }
  }
}

.slide-nft {
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 24px;
  padding: 14px;
  filter: drop-shadow(38px 12px 25px $gray-shadow);
  height: 100%;
  width: 100%;

  &__image-wrapper {
    position: relative;
    margin-bottom: 18px;
  }
  &__timer {
    position: absolute;
    top: 14px;
    right: 11px;
    color: $white;
    padding: 9px 13px;
    background-color: $black-pastel-op-35;
    border-radius: 10px;
    border: 1px solid $black-pastel-op-8;

    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }
  &__image {
    width: 100%;
    border-radius: 24px;
  }
  &__title {
    font-weight: 600;
    font-family: var(--font-poppins);
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
  }
  &__bid {
    display: flex;
    flex-direction: column;
    font-family: var(--font-poppins);
    gap: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: $white-lavender;
  }
  &__bid-amount {
    display: flex;
    align-items: center;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    color: $black;
  }
  &__bid-eth-img {
    margin-right: 4px;
  }
  &__button {
    padding: 17px 26px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    padding: 10px;
    border-radius: 18px;
    &__image-wrapper {
      margin-bottom: 10px;
    }
    &__image {
      max-width: 190px;
      max-height: 190px;
    }
    &__title {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &__timer {
      top: 10px;
      right: 10px;
      padding: 6px 9px;
      border-radius: 8px;

      font-size: 10px;
    }
    &__bid {
      gap: 7px;
      font-size: 11px;
    }
    &__bid-amount {
      font-size: 12px;
    }
    &__bid-eth-img {
      width: 16px;
      height: 16px;
      margin-right: 2px;
    }
    &__button {
      padding: 11px 18px;
      font-size: 11px;
      line-height: 150%;
    }
  }
}